.section-modal-movie {
  &-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    .base-textarea {
      grid-column: span 2;
    }
  }

  &-btns {
    margin-top: 50px;
    display: flex;
    justify-content: right;

    .btn + .btn {
      margin-left: 10px;
    }
  }
}
