.ml-1 {
  margin-left: 1rem;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.mt-30 {
  margin-top: 30px;
}

.color-white {
  color: var(--color-white);
}

.color-carnation {
  color: var(--color-carnation);
}