:root {
  --color-black: #000;
  --color-white: #fff;
  --color-dark: #383838;
  --color-light: #f5f5f5;
  --color-primary: #00a0ff;
  --color-dodger-blue: #1a97ff;
  --color-gray: #b7b7b7;
  --color-danger-2: #ff6052;
  --color-pink: #c85aff;
  --color-carnation: #f65261;
  --color-emperor: #555555;
  --color-tundora: #424242;
  --color-mine-shaft: #232323;
  --color-cod-gray: #080707;
  --color-dusty-gray: #979797;
}
